<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <%= form_tag enter_message_path, method: :post, authenticity_token: false do %>
    <%= text_field_tag :massage %>
    <%= submit_tag 'Отправить' %>
  <% end %>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
