<!DOCTYPE html>
<html>
  <head>
    <title>FoxCoffe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>

  <body>
    <%= notice %>
    <%= link_to "Посты", posts_path %>
    <%= link_to "Создать пост", new_post_path %>
    <%= yield %>
  </body>
</html>
